<!--
  Generated template for the SubjectPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Asignaturas</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <button ion-button round (click)="goToAddAsignaturaPage()">Añadir Asignatura</button>

  <ion-list>
    <ion-item-sliding *ngFor="let c of subjects">
      <ion-item>
        <h2>{{c.nombre}}</h2>
        <p>Estudios: {{c.estudios}}</p>
        <p>Tipo: {{c.tipo}}</p>
        <p>Cuatrimestre: {{c.cuatrimestre}}</p>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="danger" (click)="deleteAsignatura(c._id)">
          <ion-icon name="text"></ion-icon>
          Eliminar
        </button>
      </ion-item-options>
      <ion-item-options side="left">
        <button ion-button color="primary" (click)="goToEditAsignaturaPage(c._id)">
          <ion-icon name="mail"></ion-icon>
          Editar
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>




  <ion-card-header>
    <h2>Filtrado Asignaturas</h2>
  </ion-card-header>
  <ion-item>
    <ion-label>Estudios</ion-label>
    <ion-select type="text"  required [(ngModel)]="estudiosFilter" name="titulacionFilter">
      <ion-option value="Sistemas">Sistemas</ion-option>
      <ion-option value="Telemática">Telemática</ion-option>
    </ion-select>
  </ion-item>
  <button ion-button round color="primary" (click)="filterEstudios()">Titulacion</button>
  <ion-item>
    <ion-label>Nombre</ion-label>
    <ion-select type="text"  required [(ngModel)]="nombreFilter" name="titulacionFilter">
      <ion-option *ngFor="let n of subjects" value="{{n.nombre}}">{{n.nombre}}</ion-option>
    </ion-select>
  </ion-item>
  <button ion-button round color="primary" (click)="filterNombre()">Nombre</button>
  <ion-item>
    <ion-label>Cuatrimestre</ion-label>
    <ion-select type="text"  required [(ngModel)]="cuatrimestreFilter" name="titulacionFilter">
      <ion-option *ngFor="let n of subjects" value={{n.cuatrimestre}}>{{n.cuatrimestre}}</ion-option>
    </ion-select>
  </ion-item>
  <button ion-button round color="primary" (click)="filterCuatri()">Cuatri</button>
  <button ion-button round color="primary" (click)="sortByName()">Ordenar</button>

  <ion-grid>
    <ion-row>
      <ion-col col-4>
        <h6>Nombre</h6>
      </ion-col>
      <ion-col col-4>
        <h6>Estudios</h6>
      </ion-col>
   <!--   <ion-col col-4>
        Tipo
      </ion-col>-->
      <ion-col col-3>
        <h6>Cuatri</h6>
      </ion-col>
      <ion-col>
        St
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let c of filters">
      <ion-col col-4>
        {{c.nombre}}
      </ion-col>
      <ion-col col-4>
        {{c.estudios}}
      </ion-col>
     <!-- <ion-col col-4>
        {{c.tipo}}
      </ion-col>-->
      <ion-col col-3>
      {{c.cuatrimestre}}
      </ion-col>
      <ion-col>
        {{c.estudiantes.length}}
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>
